{% if page.has_previous or page.has_next %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {% if page.has_previous %}
        <li class="pure-menu-item">
          <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="pure-menu-link">
            <i class="fa fa-backward"></i>
            Previous
          </a>
        </li>
      {% endif %}
      {% if page.has_next %}
        <li class="pure-menu-item">
          <a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="pure-menu-link">
            Next
            <i class="fa fa-forward"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
